<div class="main">
  <div class="main__table">
    <table
      mat-table
      [dataSource]="
        dataSource
          | searchByName : searchValue
          | paginate
            : { itemsPerPage: pageSize, currentPage: pageIndex, totalItems: dataSourceCopy.length, id: 'custom' }
      "
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          ></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(element) : null"
            [checked]="selection.isSelected(element)"
          ></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="task">
        <th mat-header-cell *matHeaderCellDef>Task</th>
        <td mat-cell *matCellDef="let element">{{ element.task }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          <span
            class="status"
            [ngClass]="{
              'red-status': element.status === statusEnum.UNCOMPLETE,
              'green-status': element.status === statusEnum.LOW,
              'gray-status': element.status === statusEnum.UNASSIGNED
            }"
          >
            <span>{{ element.status }}</span>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="from">
        <th mat-header-cell *matHeaderCellDef>From</th>
        <td mat-cell *matCellDef="let element">{{ element.from }}</td>
      </ng-container>

      <ng-container matColumnDef="to">
        <th mat-header-cell *matHeaderCellDef>To</th>
        <td mat-cell *matCellDef="let element">{{ element.to }}</td>
      </ng-container>

      <ng-container matColumnDef="customerAddress">
        <th mat-header-cell *matHeaderCellDef>Customer Address</th>
        <td mat-cell *matCellDef="let element">{{ element.customerAddress }}</td>
      </ng-container>

      <ng-container matColumnDef="dueDate">
        <th mat-header-cell *matHeaderCellDef>Due Date</th>
        <td mat-cell *matCellDef="let element">{{ element.dueDate | date : 'MMM d, h:mm a' }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div class="main__paginator">
    <div>
      <div>{{ capacityFromTable() }}</div>
    </div>

    <pagination-template #p="paginationApi" id="custom" (pageChange)="paginate($event)">
      <div class="custom-pagination">
        <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
          <span (click)="p.previous()"><</span>
        </div>
        <div class="page-number current" *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
          <span (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
            {{ page.label }}
          </span>
          <div *ngIf="p.getCurrent() === page.value">
            <span>{{ page.label }}</span>
          </div>
        </div>
        <div class="pagination-next" [class.disabled]="p.isLastPage()">
          <span (click)="p.next()">></span>
        </div>
      </div>
    </pagination-template>
  </div>
</div>
